<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('数据统计')"/>
</head>


<body class="gray-bg">
<div class="container-div">
    <div id="main" style="width: 600px;height:400px; display:inline-block"></div>

    <div id="mainAmount" style="width: 600px;height:400px; display: inline-block"></div>


</div>


<th:block th:include="include :: footer"/>
<script src="../../../js/echarts.min.js"></script>
<script th:inline="javascript">

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option_people = {
        title: {
            text: '购买人数统计'
        },
        tooltip: {},
        xAxis: {
            data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
        },
        yAxis: {},
        series: [{
            name: '人数',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };




    var myChartAmount = echarts.init(document.getElementById('mainAmount'));
    var option_amount = {
        title: {
            text: '购买金额统计'
        },
        series : [
            {
                name: '购买金额统计',
                type: 'pie',    // 设置图表类型为饼图
                radius: '65%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                data:[          // 数据数组，name 为数据项名称，value 为数据项值
                    {value:235, name:'视频广告'},
                    {value:274, name:'联盟广告'},
                    {value:310, name:'邮件营销'},
                    {value:335, name:'直接访问'},
                    {value:400, name:'搜索引擎'}
                ]
            }
        ]
    };

    $(function () {

        peopleStatistics();

        amountStatistics();

    });


    <!-- codetye 1 购买金额统计  其他： 购买人数统计-->
    function peopleStatistics() {
        $.ajax({
            type: "get",
            url: ctx + "app/data/statisticsRes?codeType=2",
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                option_people.xAxis.data = data.xAxisData;
                option_people.series[0].data = data.datastatic;
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option_people);
            }
        });
    }


    <!-- codetye 1 购买金额统计  其他： 购买人数统计-->
    function amountStatistics() {
        $.ajax({
            type: "get",
            url: ctx + "app/data/statisticsRes?codeType=1",
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                option_amount.series[0].data=data.amountStatistics;

                // 使用刚指定的配置项和数据显示图表。
                myChartAmount.setOption(option_amount);
            }
        });
    }




</script>
</body>
</html>