<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.ReviewMapper">
    
    <resultMap type="Review" id="ReviewResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectReviewVo">
        select id, username, content, create_time from review
    </sql>

    <select id="selectReviewList" parameterType="Review" resultMap="ReviewResult">
        <include refid="selectReviewVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%') </if>
        </where>
    </select>
    
    <select id="selectReviewById" parameterType="Long" resultMap="ReviewResult">
        <include refid="selectReviewVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertReview" parameterType="Review">
        insert into review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="content != null">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateReview" parameterType="Review">
        update review
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReviewById" parameterType="Long">
        delete from review where id = #{id}
    </delete>

    <delete id="deleteReviewByIds" parameterType="String">
        delete from review where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>